# Banco de dados Oracle
DB_USER=
DB_PASSWORD=
DB_CONNECT=host:porta/service_name

# Caminho do Oracle Instant Client (obrigatório no Windows)
# Exemplo: C:\oracle\instantclient_21_9
ORACLE_CLIENT_DIR=

# API de IA (DeepSeek)
DEEPSEEK_API_KEY=

# Autenticação interna entre APIs
AUTH_API_USERNAME=
AUTH_API_PASSWORD=
