.grid-desktop-itemdespesa .bg-grid {
    padding: 13px;
}

.grid-desktop-itemdespesa .table {
    border-collapse: collapse;
    border-style: dashed;
    border-width: 1px;
    min-width: 760px;
}

.grid-desktop-itemdespesa .Titulos-Table th {
    background-color: #f3f7f8;
    border: none;
    font-weight: 600;
    height: 45px;
    vertical-align: middle;
}

.grid-desktop-itemdespesa .tableFixHead {
    border-width: 1px;
    border-style: dashed;
    border-color: #cfcfcf;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    max-height: 420px;
}

.grid-desktop-itemdespesa .tableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 2;
}

.grid-desktop-itemdespesa .item-Table:hover {
    background-color: #f8f9fa;
    cursor: pointer;
}

.grid-desktop-itemdespesa .btn-add-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: #dbdbdb;
    color: #000;
    border: none;
    font-size: 15px;
    margin-left: auto;
    transition: background-color 0.2s;
}

.grid-desktop-itemdespesa .btn-add-item:hover {
    background-color: #c7c7c7;
}

.grid-desktop-itemdespesa .Total {
    border-width: 1px;
    border-color: #cfcfcf;
    height: 45px;
    background-color: #f3f7f8;
    border-style: dashed;
    border-top: none;
    align-items: center;
    padding: 0 13px;
}

.grid-desktop-itemdespesa .Total label {
    font-weight: 600;
    margin-right: 5px;
}
