/* Espaço para a navbar fixa de 60px */
body {
  padding-top: 60px;
  background: #f1f5f9;
}

.infor img{
    width: 25px;
    margin-top: 5px;    
}

.infor span{
    margin-left: 10px;
    font-size: 10px;
    color: #5c5c5c;
    font-weight: 400;
    font-style: italic;
}

.infor a{
    margin-left: 10px;
    font-size: 10px;
    color: #5c5c5c;
    font-weight: 400;
    font-style: italic;
    text-decoration: none;
}

.infor label{
    position: relative;
    top: 0px;
    left: 2px;
    font-size: 10px;
    color: #5c5c5c;
    font-weight: 400;
    font-style: italic;
}